.main-container {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 30px;
  background-color: white;
  color: #594A47;
}

/*--------------------> BOOK*/

.book-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.description-container {
  text-align: left;
}

.description-container .my-content {
  margin: 0;
}

.book-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.book-image {
  max-width: 150px;
  border-radius: 8px;
}

.book-detailes p,h3{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.book-detailes p {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0;
  padding: 3px;
  padding-left: 10px;
}

.book-detailes h3 {
  margin-bottom: 3px;
  font-weight: bold;
}

.book-description {
  margin-top: 1rem;
}

.read-more-button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #99BC85;
}

/*--------------------->LIST*/

.list-general {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

.add-to-list {
  display: flex;
}

.add-new-list-button {
  background: none;
  border: none;
  text-decoration: underline;
  color: #99BC85;
  font-weight: bold;
}

.btn-submit-new-list {
  background-color: #99BC85;
  color: #FDFAF6;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}


.add-to-list select,
.add-to-list input[type="submit"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.add-to-list input[type="submit"] {
  background-color: #99BC85;
  color: #FDFAF6;
}


.booklist-container {
  margin: 20px;
}

.booklist-container a {
  text-decoration: none;
  color: #99BC85;
}


/* ------------------->  REVIEWS*/


.review-container {
  margin-top: 20px;
}

.user-review {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
}

.user-reviews {
  flex-grow: 1;
}

.review-content p {
  font-size: 14px;
  margin: 2px 0;
  line-height: 1.2;
  text-align: left;
  padding: 0;
}

.my-content {
  text-align: left;
}

.username-review {
  font-weight: bold;
}

.single-user-review {
  margin: 0;
  padding-bottom: 0;
}

.single-user-review p{
  text-align: left;
  margin-left: 10px;
  padding: 3px;
  margin-top: 0;
  border-bottom: 1px solid lightgray;
}

.single-user-review a {
  margin-bottom: 23px;
  text-decoration: none;
}


.review-form-container input[type="submit"] {
  background-color: #99BC85;
  color: #FDFAF6;
  padding: 5px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.back-to-profile-btn {
  background-color: #99BC85;
  color: #FDFAF6;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 10px;
}
