<nav class="custom-navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">
      <img src="/assets/betterreads-logo.png" alt="BetterReads Logo" class="logo">
    </a>

    <div class="right-section">
      <button class="navbar-toggle" id="menu-toggle">&#9776;</button>

      <div class="dropdown-menu" id="navbar-menu">
        <a href="/" class="dropdown-item">Home</a>
        <a href="/dashboard" class="dropdown-item">User dashboard</a>
       <% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
<% else %>
  <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
<% end %>
      </div>
    </div>
  </div>
</nav>
