<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<form action="<%= search_books_path %>" method="get">
  <input type="text" name="query" placeholder="Search for books..." required>
  <button type="submit">Search</button>
</form>
