<div class="main-lists-container">
  <% if @books.any? %>
    <div class="books-lists-card">
      <% @books.each do |book| %>
        <div class="books-card-container">
          <%= link_to book_path(book) do %>
            <%= image_tag book.picture, alt: book.title, class: "books-image" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No books found, try again.</p>
  <% end %>
</div>
