.dashboard-container {
  background-color: white;
}

.user-info {
  padding-top: 20px 0;
}

.profile-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.avatar-image {
  margin-right: 10px;
  padding-left: 10px;
}

.avatar-image .profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  display: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info h2 {
  font-size: 25px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 15px;
  color: #555;
  margin: 0;
  padding: 0;
  text-align: left;
}

.profile-info .edit-button {
  font-size: 15px;
  cursor: pointer;
}

.user-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.stat-item {
  margin: 10px 0;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


/* ----------------------------------------------------------------------------- */

.user-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the items to the left */
  justify-content: flex-start; /* Align the items to the top */
  text-align: left; /* Align the text to the left */
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  width: 90%;
}

.stat-item {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

strong {
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

span {
  font-size: 18px;
}

.user-stats h2 {
  font-size: 22px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* ----------------------------------------------------------------------------- */

.user-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.list-container {
  background-color: #FAF1E6;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.2s ease-in-out;
}

.list-container:hover {
  transform: translateY(-5px);
}

.user-lists h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.list-title {
  text-decoration: none;
  color: #333;
}

.list-title:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin: 10px;
}

li:last-child {
  border-bottom: none;
}

p {
  font-size: 14px;
  color: #666;
  text-align: center;
}

.books-lists-images {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  overflow: scroll;
  width: 100%;
}

.books-lists-images .book-image {
  width: auto;
  height: 125px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px #594A47;
  margin: 10px;
}

.currenlty-reading {
  display: flex;
  flex-direction: column;
  width: 200%;
  height: 100%;
}

.currenlty-reading span {
  font-size: 10px;
}


.update-button {
  text-decoration: none;
}
